apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-configmap 
data:
  database_url: mongodb-service  #Create a reference for the database accessIL -  

#Configmap helps to write external configurations,centralised manner so other components can use it.
